body{
    background-color: rgb(246, 239, 229);
    margin-left: 40%;
}
.container{
width: 320px;
margin-top: 30px;
padding-top: 20px;
border: 2px solid aquamarine;
display: flex;
align-items: center;
flex-direction: column;
background-color: aquamarine;
} 
button {
    display: block; 
    margin-top: 5px;
    padding: 5px 10px; 
    background-color:red; 
    color: #fff; 
    border: none; 
    cursor: pointer;
}
button:hover{
    background-color: blue;
} 